
/* Algemene instellingen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('images/achtergrond.png'); /* Achtergrondafbeelding */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparant zwart */
    color: white;
    height: 60px; /* Vaste hoogte */
  }
  
  .navbar .logo img {
    height: 50px; /* Zorgt dat het logo de navbar niet vergroot */
    width: auto;
  }

.player-count {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px; /* Afgeronde hoeken */
    display: inline-block;
    margin-bottom: 20px; /* Ruimte tussen tekst en knop */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante achtergrond */
}

  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .hero button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0073ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Ronde hoeken */
  }
  
  .hero button:hover {
    background-color: #47d7ff;
  }
  
  #player-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 115, 255, 0.9); /* Blauwe kleur zoals de knop */
    color: white;
    border-radius: 50px; /* Helemaal rond */
    margin-bottom: 15px; /* Ruimte tussen deze en de knop */
    min-width: 180px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.player-change {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    transition: opacity 0.5s ease-in-out;
}

.player-change.up {
    color: #2ecc71; /* Groen voor +X */
}

.player-change.down {
    color: #e74c3c; /* Rood voor -X */
}

#player-count {
    transition: opacity 0.3s ease-in-out;
}

#discord-section {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    overflow-y: auto;
    max-height: 500px;
}

#discord-members li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

